<form class="form-inline" [formGroup]="dateForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <div class="input-group">
      <input class="form-control" type="date" placeholder="Pick a date" formControlName="date">
    </div>
  </div>
  <button class="btn btn-secondary ml-2" type="submit">Go</button>
</form>
<h5 class="mt-2">Summary for: {{dateSelected | date: 'dd-MM-yyyy'}}</h5>

<table class="table table-striped table-bordered mt-2">
  <tbody>
  <tr>
    <th scope="row">Total distance</th>
    <td>{{distanceDriven}} km</td>
  </tr>
  <tr>
    <th scope="row">Number of stops</th>
    <td>{{stopCount}}</td>
  </tr>
  <tr>
    <th scope="row">Shortest possible distance</th>
    <td>60 km</td>
  </tr>
  </tbody>
</table>
