<div class="row">
  <div class="col-2 m-2">
    <app-key (status)="onKeySubmit($event)"></app-key>
  </div>
</div>
<hr>
<div class="p-3" *ngIf="alert">
  <ngb-alert type="danger" [dismissible]="false">{{alertMsg}}</ngb-alert>
</div>
<div class="row" *ngIf="!alert">
  <div class="col-4 col-lx-3">
    <div class="row">
      <div class="p-5 col">
        <app-fleet (OnSelect)="OnSelect($event)"></app-fleet>
      </div>
    </div>
    <div class="row">
      <div class="p-5 col" *ngIf="vehicleSelected">
        <app-journey-info [objectId]="vehicleSelected" (OnSelect)="carSelected($event)"></app-journey-info>
      </div>
    </div>
  </div>
  <div class="col-8 col-lx-9">
    <app-map [refresh]="journeySelected"></app-map>
  </div>
</div>
