<agm-map [latitude]="centerLat" [longitude]="centerLon">
  <ng-container>
    <agm-marker *ngFor="let marker of markers" [latitude]="marker.latitude" [longitude]="marker.longitude" [label]="marker?.name"></agm-marker>
    <agm-polyline *ngFor="let point of route;let i = index;"  [strokeColor]="getSpeedColor(point.speed)">
      <agm-polyline-point [latitude]="point.latitude" [longitude]="point.longitude">
      </agm-polyline-point>
      <ng-container *ngIf="route[i+1]">
        <agm-polyline-point [latitude]="route[i+1].latitude" [longitude]="route[i+1].longitude">
        </agm-polyline-point>
      </ng-container>
    </agm-polyline>
  </ng-container>
</agm-map>
