<div class="row">
  <div class="col-2 m-2">
    <app-key></app-key>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="row">
      <div class="p-5 col">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Speed</th>
            <th scope="col">Last update</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">123ABC</th>
            <td>13 km/h</td>
            <td>4 min ago</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="p-5 col">
        <table class="table">
          <tbody>
          <tr>
            <th scope="row">Total distance</th>
            <td>65 km</td>
          </tr>
          <tr>
            <th scope="row">Number of stops</th>
            <td>5</td>
          </tr>
          <tr>
            <th scope="row">Shortest possible distance</th>
            <td>60 km</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-6">
    <h1>MAP</h1>
  </div>
</div>
